QLabel {
    border: 1px solid #222831;
    border-radius: 8px;
}

QLabel#version-label {
    margin-right: 10px;
    margin-bottom: 10px;
}

QPlainTextEdit#reason-text {
    background-color: #FAF8FF;
    border: 1px solid #222831;
    border-radius: 5px;
}

QWidget {
    background-color: #EEEEEE;
    color: #393E46;
}

/* All transaction table styles */

QTableWidget {
    background-color: #00333C;
    color: #fff;
}

QHeaderView {
    background-color: #00333C;
    color: #fff;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
}

QTableWidget::item {
    border-bottom: 1px dotted white;
}

/* Application buttons styles */

QPushButton#menu-btn,
QPushButton#transaction-btn,
QPushButton#all-transactions-btn,
QPushButton#exit-btn {
    /* background-color: #00ADB5; */
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    /* border: 1px solid #00ADB5; */
    padding: 5px 15px;
    margin-top: 10px;
    outline: 0px;
}

QPushButton#settings-btn {
    background-color: #EEEEEE;
    border-style: none;
}

QPushButton#menu-btn:hover,
QPushButton#all-transactions-btn:hover,
QPushButton#exit-btn:hover {
    background-color: #00ADB5;
    border: 1px solid #005b60;
}